.add_exercise {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;

    border: .1em solid;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.add_exercise span {
    padding-left: .5em;
}

.add_exercise .form-horizontal {
    width: 50%;
    margin: 0 auto;
}

.add_exercise .controls {
    text-align: left;
}

.exercises li {
    padding: 1em;
    margin-bottom: .5em;

    text-align: center;
    
    border: .1em solid;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.exercise_details {
    padding: 1em;
    margin-bottom: .5em;

    line-height: 2em;

    background-color: lightblue;

    border: .1em solid;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.exercise_details label {
    margin-left: 2em;
    margin-right: 2em;
}

.exercise_details input {
    text-align: center;
}

.exercise_details .icon-trash {
    float: right;
    line-height: inherit;
    font-size: 2em;
}