@import "compass/reset";
@import "bootstrap_overrides";

@import "constants";

#trening {
    font-size: 62.5%;
    background-color: $background;
}

#main {
    font-size: 1.6em;
    padding: 1em;
}

.selected {
    background-color: $backgroundDark;
}

@import "navigation";
@import "exercises";