@import "compass/reset";

#trening {
    font-size: 62.5%;
}

#main {
    font-size: 1.6em;
    padding: 1em;
}

.selected {
    background-color: lightgrey;
}

@import "navigation";
@import "exercises"