<div id="exercises">

    <div class="add_exercise">
        <div ng-click="addExercise()">
            <i class="icon-plus" ng-hide="showAdd"></i><span ng-hide="showAdd">Add exercise</span>
        </div>
        <div ng-show="showAdd">

            <form class="form-horizontal">
       
                <div class="control-group">
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                        <input type="text" id="inputName" ng-model="newExercise.name" placeholder="Name">
                    </div>
                </div>
        
                <div class="control-group">
                    <label class="control-label" for="input10RM">10 RM</label>
                    <div class="controls">
                        <input type="number" id="input10RM" ng-model="newExercise.rm" placeholder="10 RM">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn" ng-click="saveExercise()">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <ul class="exercises">
        <div ng-repeat="exercise in exercises">
            <li ng-click="selectExercise(exercise)" ng-class="selected(exercise)">
                {{exercise.name}}
            </li>
            <div class="exercise_details" ng-show="selectedExercise == exercise">
                <label>10 RM</label><input type="number" ng-model="exercise.rm" /> kg
                <i class="icon-trash" ng-click="deleteExercise(exercise)"></i>
            </div>
        </div>
    </ul>

</div>